---
# This is not working for the first run of the playbook
- name: Install lsp packages
  community.general.npm:
    name: "{{ lsp_item }}"
    global: yes
    state: present
  loop_control:
    loop_var: lsp_item
  with_items:
    - dockerfile-language-server-nodejs
    - bash-language-server
    - vscode-langservers-extracted
    - typescript
    - typescript-language-server
    - intelephense
    - yaml-language-server
    - prettier
    - eslint
    - "@prisma/language-server"
