---
- name: Clone
  ansible.builtin.git:
    clone: yes
    depth: 1
    dest: "{{ ansible_user_dir }}/Repos/lazygit"
    force: yes
    repo: https://github.com/jesseduffield/lazygit.git
    single_branch: yes
    update: yes
    version: master
  register: clone

- name: Install
  become: true
  command: "go install"
  args:
    chdir: "{{ ansible_user_dir }}/Repos/lazygit"
  when: clone.changed
