- name: Install PHP
  become: yes
  apt:
    name: 
      - php
      - php-fileinfo
      - php-mbstring
      - php-bcmath
      - php-cli
      - php-common
      - php-dom
      - php-curl
      - php-gd
      - php-intl
      - php-mbstring
      - php-opcache
      - php-xml
  tags:
    - php

- name: Install Composer
  become: yes
  apt:
    name: composer
  tags:
    - php
