- name: Ensure .ssh directory exists
  file:
    dest: "{{ dest_key | dirname }}"
    mode: 0700
    state: directory
  tags:
    - install
    - dotfiles
    - ssh

- name: Install ssh key
  copy:
    src: "{{ source_key }}"
    dest: "{{ dest_key }}"
    mode: 0600
  tags:
    - install
    - dotfiles
    - ssh

- name: Install ssh key pub
  copy:
    src: "{{ source_key }}.pub"
    dest: "{{ dest_key }}.pub"
    mode: 0644
  tags:
    - install
    - dotfiles
    - ssh

- name: Set authorized key
  authorized_key:
    user: "{{ lookup('env', 'USER') }}"
    key: "{{ lookup('env', 'HOME') }}/.ssh/id_rsa.pub"
    state: present
  with_fileglob:
    - "{{ lookup('env', 'HOME') }}/.ssh/*.pub"
