---
- name: Add apt key
  become: true
  apt_key:
    url: https://packages.microsoft.com/keys/microsoft.asc
    state: present
    keyring: /etc/apt/trusted.gpg.d/microsoft.gpg

- name: Add apt repository
  become: true
  apt_repository:
    repo: "deb [arch=amd64] https://packages.microsoft.com/repos/vscode stable main"
    state: present

- name: Install VSCode
  become: true
  apt:
    name: code
    state: latest

- name: Install VSCode extensions
  shell: code --install-extension {{ extension }}
  with_items:
    - dbaeumer.vscode-eslint
    - eamodio.gitlens
    - esbenp.prettier-vscode
    - golang.go
    - mhutchie.git-graph
    - ms-azuretools.vscode-docker
    - ms-vscode-remote.remote-containers
    - PKief.material-icon-theme
    - sleistner.vscode-fileutils
    - Gruntfuggly.todo-tree
    - zhuangtongfa.material-theme
    - onecentlin.laravel-blade
    - shufo.vscode-blade-formatter
    - bmewburn.vscode-intelephense-client
    - neilbrayfield.php-docblocker 
    - MehediDracula.php-namespace-resolver
    - ikappas.phpcs
    - junstyle.php-cs-fixer
    - bradlc.vscode-tailwindcss
    - formulahendry.auto-close-tag
    - formulahendry.auto-rename-tag
    - mikestead.dotenv
    - csstools.postcss
    - EditorConfig.EditorConfig
    - redhat.vscode-xml
    - yzhang.markdown-all-in-one
    - streetsidesoftware.code-spell-checker
    - christian-kohler.path-intellisense
    - xdebug.php-debug
    - vscodevim.vim

  loop_control:
    loop_var: extension

- name: Copy keybindings
  ansible.builtin.copy:
    dest: "{{ ansible_user_dir }}/.config/Code/User/keybindings.json"
    src: "keybindings.json"

- name: Copy settings
  ansible.builtin.copy:
    dest: "{{ ansible_user_dir }}/.config/Code/User/settings.json"
    src: "settings.json"

- name: Copy snippets
  ansible.builtin.copy:
    dest: "{{ ansible_user_dir }}/.config/Code/User"
    src: "snippets"
