---
- name: Clone
  ansible.builtin.git:
    clone: yes
    depth: 1
    dest: "{{ ansible_user_dir }}/Repos/phpactor"
    force: yes
    repo: https://github.com/phpactor/phpactor.git
    single_branch: yes
    update: yes
    version: "master"
  register: clone

- name: Install
  community.general.composer:
    command: install
    working_dir: "{{ ansible_user_dir }}/Repos/phpactor"
  when: clone.changed

- name: Create symlink
  become: true
  file:
    src: "{{ ansible_user_dir }}/Repos/phpactor/bin/phpactor"
    dest: "/usr/local/bin/phpactor"
    state: link
  when: clone.changed
