{% for entry in config_entry.value.hosts %}
Host {{ entry.host }}
  HostName {{ entry.hostname }}
  User {{ entry.user }}
{% if 'forwards' in entry %}
{% for forward in entry.forwards %}
  LocalForward {{ forward.remote }} {{ forward.local }}
{% endfor %}
{% endif %}

{% endfor %}

{% if 'matches' in config_entry.value %}
{% for match in config_entry.value.matches %}
Match {{ match.match }} {{ match.value }}
{% for attribute in match.attributes %}
  {{ attribute.name }} {{ attribute.value }}
{% endfor %}
{% endfor %}
{% endif %}
