---
- name: Install core packages
  become: true
  ansible.builtin.package:
    name:
      - unzip
      - curl
      - direnv
      - fzf
      - jq
      - tree
      - gnupg
      - base-devel
    state: latest

- name: Set up sudo
  become: true
  ansible.builtin.replace:
    path: "/etc/sudoers.d/10-installer"
    regexp: '\%wheel ALL=\(ALL\) ALL'
    replace: '%wheel ALL=(ALL) NOPASSWD: ALL'
