---
# This method could be really outdated on some systems
# - name: Install go
#   become: true
#   ansible.builtin.package:
#     name: golang
#     state: latest

# Another approuch would be to use a a collection from galaxy for this task

# Figure out a way to not run this all the time
- name: Download go installer
  get_url:
    url: "{{ go_mirror }}/go{{ go_version }}.{{ go_architecture }}.tar.gz"
    dest: "/tmp"
    checksum: "sha256:{{go_installer_checksum }}"

- name: Extract archive
  become: true
  unarchive:
    src: "/tmp/go{{ go_version }}.{{ go_architecture }}.tar.gz"
    remote_src: yes
    dest: "{{ go_install_dir }}"
    creates: "{{ go_install_dir }}/go/bin"
