---
# This method could be really outdated on some systems
# - name: Install go
#   become: true
#   ansible.builtin.package:
#     name: golang
#     state: latest

# Another approuch would be to use a a collection from galaxy for this task

- name: Include version variables
  include_vars: "versions/{{ go_version }}.yml"

- name: Assert variable loading
  assert:
    that: go_installer_checksum not in (None, '')

- name: Download go installer
  get_url:
    url: "{{ go_mirror }}/go{{ go_version }}.{{ go_architecture }}.tar.gz"
    dest: "/tmp"
    checksum: "sha256:{{ go_installer_checksum }}"
  when: ansible_local['golang'] is not defined or ansible_local['golang']['general']['version'] != go_version

- name: Delete old installation
  become: true
  ansible.builtin.file:
    path: "{{ go_install_dir }}/go"
    state: absent
  when: ansible_local['golang'] is not defined or ansible_local['golang']['general']['version'] != go_version

- name: Extract archive
  become: true
  unarchive:
    src: "/tmp/go{{ go_version }}.{{ go_architecture }}.tar.gz"
    remote_src: yes
    dest: "{{ go_install_dir }}"
    creates: "{{ go_install_dir }}/go/bin"
  when: ansible_local['golang'] is not defined or ansible_local['golang']['general']['version'] != go_version

- name: Create facts directory
  become: true
  ansible.builtin.file:
    path: /etc/ansible/facts.d
    state: directory

- name: Set fact
  become: true
  ansible.builtin.template:
    src: golang.fact.j2
    dest: /etc/ansible/facts.d/golang.fact

