set -g default-terminal "screen-256color"
if 'infocmp -x tmux-256color > /dev/null 2>&1' 'set -g default-terminal "tmux-256color'
set -ga terminal-overrides ",*256col*:Tc"

set -g focus-events on
set -sg escape-time 10

# increase history
set -g history-limit 5000

# change prefix to C-a
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

# reload config
bind r source-file ~/.tmux.conf \; display '~/.tmux.conf sourced'

# change indexing to start from 1
set -g base-index 1
setw -g pane-base-index 1

# renumber windows in case of gaps
set -g renumber-windows on

# easier splitting
bind - split-window -v
bind _ split-window -h

# vi mode
set-window-option -g mode-keys vi
bind -r j select-pane -D
bind -r k select-pane -U
bind -r h select-pane -L
bind -r l select-pane -R
