---
- name: Install node
  shell:
    cmd: "source {{ ansible_user_dir }}/.nvm/nvm.sh && nvm install {{ node_version | default('--lts') }}"
    executable: "/bin/bash"
    creates: "{{ ansible_user_dir }}/.nvm/alias"
