---
- name: Get Starship installer
  get_url:
    url: https://starship.rs/install.sh
    dest: /tmp/starship_install.sh
    mode: '0755'

- name: Install Starship
  become: true
  shell:
    cmd: /tmp/starship_install.sh --yes
    executable: '/bin/sh'
    creates: /usr/local/bin/starship

- name: Create config folder
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/starship"
    state: directory

- name: Copy config file
  ansible.builtin.template:
    src: config.j2
    dest: "{{ ansible_user_dir }}/.config/starship/config.toml"
