---
- name: Install PHP
  become: true
  ansible.builtin.package:
    name: php
    state: latest

- name: Install PHP extensions
  become: true
  ansible.builtin.package:
    name: 
      - php-fileinfo
      - php-mbstring
      - php-cli
      - php-common
      - php-dom
      - php-curl
      - php-gd
      - php-mbstring
      - php-opcache
      - php-xml
      - php-mysql
      - php-xdebug
    state: latest
