---
- name: Include task based on Linux distribution
  include_tasks: "{{ found_file }}"
  with_first_found:
    - files:
      - "{{ ansible_distribution | lower }}.yml"
      - default.yml
  loop_control:
    loop_var: found_file
