---
- name: Install fd-find
  become: true
  ansible.builtin.package:
    name: fd-find
    state: latest

- name: Create ~/.local directory if does not exist yet
  file:
    path: "{{ ansible_user_dir}}/.local/bin"
    state: directory

- name: Create symlink
  file:
    src: "/usr/bin/fdfind"
    dest: "{{ ansible_user_dir }}/.local/bin/fd"
    state: link

