---
- name: Install bat
  become: true
  ansible.builtin.package:
    name: bat
    state: latest

- name: Create ~/.local directory if does not exist yet
  file:
    path: "{{ ansible_user_dir}}/.local/bin"
    state: directory

- name: Create symlink
  file:
    src: "/usr/bin/batcat"
    dest: "{{ ansible_user_dir }}/.local/bin/bat"
    state: link
